@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

/* Logo superior */
.img-fluid {
    max-width: 70%;
    min-width: 200px;
    height: auto;
}

/* Titulos acordeón */
.accordionHeader {
  color: #000;
}
.accordionHeaderFive {
  color: white;
}

/* Colores cabeceras acordeón */
#HeaderZero {
  background-color: white;
  border-style: solid;
  border-color: #9D9D9C;
}
#HeaderOne {
  background-color: #F9E676;
  border-style: solid;
  border-color: #84791D;
}
#HeaderTwo {
  background-color: #F09AA1;
  border-style: solid;
  border-color: #824342;
}
#HeaderThree {
  background-color: #A5D7EF;
  border-style: solid;
  border-color: #1D71B8;
}
#HeaderFour {
  background-color: #A5D3B2;
  border-style: solid;
  border-color: #006633;
}
#HeaderFive {
  background-color: #575756;
  border-style: solid;
  border-color: black;
}

/* Números cardinales */
#cardinal {
  font-size: medium;
  font-
}